<a href="https://colab.research.google.com/github/palash04/Artificial-Intelligence/blob/master/LearnPython/DSA/DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python List**

In [22]:
listA = []  # creating a list
listA.append(2)
listA.append(4)
listA.append(8)
listA.append(16)

print (listA)

[2, 4, 8, 16]

In [23]:
listB = []
listB.append(64)
listB.append(128)
listB.append(512)

print (listB)

[64, 128, 512]

In [24]:
# append one list to another
listA.extend(listB)
print (listA)

[2, 4, 8, 16, 64, 128, 512]

In [25]:
# insert in the list
listA.insert(4,32)
print (listA)

[2, 4, 8, 16, 32, 64, 128, 512]

In [26]:
# removing items
listA.pop(0)  # removes first item
print (listA)

listA.pop(-2) # removes second last item
print (listA)

[4, 8, 16, 32, 64, 128, 512]
[4, 8, 16, 32, 64, 512]

In [33]:
# List Slice
# Slicing is an operation that creates a new list consisting of a contiguous subset of elements from the original list. 
# The original list is not modified by this operation.

aslice = [1,2,3,4,5,6,7,8,9,10]
list_sliced = aslice[1:3] # get the elements from index 1 to index (3-1) i.e 2 inclusive
print (aslice)
print (list_sliced)

list_sliced = aslice[:7]  # get the elements from index 0 to index 6 inclusive
print (list_sliced)

list_sliced = aslice[4:]  # get the elements from index 4 to index n-1 inclusive
print (list_sliced)

list_sliced = aslice[:]  # get the elements from 0 to n-1 inclusive
print (list_sliced)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3]
[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# **Set**

### **Set ADT**



*   Set(): Creates a new set initialized to empty set
*   *length*(): Returns the number of elements in set. Accessed using **len()** function
*   contains(element): Determines if the given value is an element of the set and returns appropriate boolean value. Accessed using the **in** operator.
*   add(element): Modifies the set by adding the given value or element to the set if the element is not already a member. If the element is not unique, no action is taken and the operation is skipped.

*   remove(element): Removes the given value from the set if the value is contained in the set and raises an exception otherwise.
*   equals ( setB ): Determines if the set is equal to another set and returns a boolean value. For two sets, A and B, to be equal, both A and B must contain the same number of elements and all elements in A must also be elements in B. If both sets are empty, the sets are equal. Access with == or !=.



*   isSubsetOf( setB ): Determines if the set is a subset of another set and re- turns a boolean value. For set A to be a subset of B, all elements in A must also be elements in B.

*   union( setB ): Creates and returns a new set that is the union of this set and setB. The new set created from the union of two sets, A and B, contains all elements in A plus those elements in B that are not in A. Neither set A nor set B is modified by this operation.


*   intersect(setB): Creates and returns a new set that is the intersection of this set and setB. The intersection of sets A and B contains only those elements that are in both A and B. Neither set A nor set B is modified by this operation.
*   difference( setB ): Creates and returns a new set that is the difference of this set and setB. The set difference, Aâˆ’B, contains only those elements that are in A but not in B. Neither set A nor set B is modified by this operation.

*   iterator (): Creates and returns an iterator that can be used to iterate over the collection of items.

In [51]:
smith = set()
smith.add("CSCI-112")
smith.add("MATH-121")
smith.add("HIST-340")
smith.add("ECON-101")

roberts = set()
roberts.add("POL-101")
roberts.add("ANTH-230")
roberts.add("CSCI-112")
roberts.add("ECON-101")

if smith == roberts:
  print ("Smith and Roberts are taking the same courses.")
else:
  sameCourses = smith.intersection(roberts)
  if len(sameCourses) == 0:
    print ("Smith and Roberts are not taking any of the same courses.")
  else:
    print ("Smith and Roberts are taking some of the same courses.")
    for course in sameCourses:
      print (course)


# unique courses taken by smith
print ("Unique courses taken by smith")
unique_courses = smith.difference(roberts)
if unique_courses:
  for uc in unique_courses:
    print (uc)
else:
  print (None)


# check if smith has taken course "HIST-340"
if "HIST-340" in smith:
  print ("Smith has taken course HIST-340")
else:
  print ("Smith has not taken course HIST-340")

# roberts wants to withdraw from course ANTH-230
roberts.remove("ANTH-230")
print ("Roberts courses: ", roberts)

Smith and Roberts are taking some of the same courses.
CSCI-112
ECON-101
Unique courses taken by smith
HIST-340
MATH-121
Smith has taken course HIST-340
Roberts courses:  {'POL-101', 'CSCI-112', 'ECON-101'}

# **Maps**

### **Map ADT**



*   dict(): Creates a new empty map
*   length (): Returns the number of key/value pairs in the map.


*   contains ( key ): Determines if the given key is in the map and returns True if the key is found and False otherwise.
*   add( key, value ): Adds a new key/value pair to the map if the key is not already in the map or replaces the data associated with the key if the key is in the map. Returns True if this is a new key and False if the data associated with the existing key is replaced.


*   remove( key ): Removes the key/value pair for the given key if it is in the map and raises an exception otherwise.

*   valueOf( key ): Returns the data record associated with the given key. The key must exist in the map or an exception is raised.

*   iterator (): Creates and returns an iterator that can be used to iterate over the keys in the map.

In [2]:
mp = dict()

In [3]:
mp[1] = "one"
mp[2] = "two"
mp["three"] = 3
mp["four"] = "4four"

In [9]:
print (mp.get(2))
print (mp.get(3, "Not there"))

two
Not there

In [10]:
mp["three"] = "3three"
mp.get("three")

'3three'

In [11]:
mp["5"] = "five"
mp["6"] = "six"

In [16]:
# loop through the dict
for x in mp:
  print (x, end=" ") # printing the keys

print ()
for x in mp:
  print (x, " = ", mp[x]) # printing key value pairs

1 2 three four 5 6
1  =  one
2  =  two
three  =  3three
four  =  4four
5  =  five
6  =  six

In [17]:
for x,y in mp.items():
  print (x,y)

1 one
2 two
three 3three
four 4four
5 five
6 six

In [18]:
# check if key exists in the dictionary
if "four" in mp:
  print ("Key found.")
else:
  print ("Key not present.")

Key found.

In [19]:
# length of dict
print (len(mp))

6

In [22]:
# Remove items from dict
mp.pop("three")

'3three'

In [23]:
print (len(mp))

5

In [24]:
# Remove last item
mp.popitem()

('6', 'six')

In [25]:
print (len(mp))

4

In [26]:
# clear method empties the dict
mp.clear()
print (len(mp))

0

# **Python Tuples**

In [27]:
# Python tuples are written in round brackets, whereas lists are written in square brackets
thistuple = ("apple","banana","cherry","tiger","panda","harry")
print (thistuple)

('apple', 'banana', 'cherry', 'tiger', 'panda', 'harry')

In [29]:
# Accessing tuple items
print (thistuple[3])

# Negative indexing means accessing from last. -1 means last, -2 means second last and so on
print (thistuple[-2])

tiger
panda

In [33]:
# slicing
print (thistuple[1:4])
print (thistuple[-4:-1])

('banana', 'cherry', 'tiger')
('cherry', 'tiger', 'panda')

In [36]:
# Tuples are immutable unlike lists
# thistuple[2] = "berry" # gives error
# so convert to list to be able to change it

x = list(thistuple)
x[2] = "berry"
print (x)

['apple', 'banana', 'berry', 'tiger', 'panda', 'harry']

In [37]:
# Loop through tuple
for x in x:
  print (x)

apple
banana
berry
tiger
panda
harry

In [38]:
# check if "harry" present in tuple
if "harry" in thistuple:
  print ("Harry found")
else:
  print ("Harry not found")

Harry found

In [40]:
tuple1 = ("apple",) 
print (type(tuple1))

tuple1 = ["apple"]
print (type(tuple1))

<class 'tuple'>
<class 'list'>