<a href="https://colab.research.google.com/github/palash04/Artificial-Intelligence/blob/master/LearnPython/Python_bascis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
print ("Hello World")
print ("Hello Again")
print ("Yay, this is fun")

Hello World
Hello Again
Yay, this is fun

# **Comments and Pound Characters**

In [46]:
# A comment, this is so you can read your program later
print ("This is comment block")
print ("This will run") # comment after is ignored

This is comment block
This will run

# **Numbers and Math**

In [47]:
print ("Counting number of stars")
print ("Stars", 2500/10 + 45)

Counting number of stars
Stars 295.0

In [48]:
print ("Add 2+3 = ", 2+3)

Add 2+3 =  5

In [49]:
print ("Is 2 greater than 5:", 2>5)
print ("Is 2 less than or equal to 5", 2<=5)

Is 2 greater than 5: False
Is 2 less than or equal to 5 True

In [50]:
print (2/2.5)

0.8

In [51]:
print ("Remainder of 15 divided by 4", 15%4)

Remainder of 15 divided by 4 3

In [52]:
print (7/4)
print (7.0/4.0)

1.75
1.75

# **Variables and Names**

In [53]:
cars = 100
space_in_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_car

In [54]:
print ("There are", cars, "cars available.")
print ("There are only", drivers , "drivers available.")
print ("There will be", cars_not_driven, "empty cars today.")
print ("We have", passengers, "to carpool capacity.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We have 90 to carpool capacity.

In [55]:
name = "Sean"
age = 23
height = 180
weight = 60.575
eyes = "blue"
hair = "black"

In [56]:
print ("My name %s" %name)
print ("Age %d" %age)
print ("Height %d cm" %height)
print ("Weight %.2f kg" %weight)

My name Sean
Age 23
Height 180 cm
Weight 60.58 kg

In [57]:
print ("Name %s, Age %d, Height %d cm, Weight %.2f kg" % (name,age,height,weight))
print ("Name {0}, Age {1}".format(name,age))
print ("Name {name}, Age {age}".format(name=name,age=age))

Name Sean, Age 23, Height 180 cm, Weight 60.58 kg
Name Sean, Age 23
Name Sean, Age 23

In [58]:
print ("Name %r %r" %(name,age)) # %r is used for debugging purpose

Name 'Sean' 23

In [59]:
end1 = "C"
end2 = "h"
end3 = "e"
end4 = "e"
end5 = "s"
end6 = "e"
end7 = "B"
end8 = "u"
end9 = "r"
end10 = "g"
end11 = "e"
end12 = "r"

In [60]:
print (end1 + end2 + end3 + end4 + end5 + end6,end7 + end8 + end9 + end10 + end11 + end12)

Cheese Burger

In [61]:
days = "Mon Tues Wed Thurs Fri Sat"
months = "Jan\nFeb\nMarch\nApril\nMay.."
print (days)
print (months)

Mon Tues Wed Thurs Fri Sat
Jan
Feb
March
April
May..

In [62]:
print ("""
Hello, This is my blog post.
Here I will write the story of my life.
To begin with my first story, 
I live on 21st floor of a multi storey building
""")

Hello, This is my blog post.
Here I will write the story of my life.
To begin with my first story,
I live on 21st floor of a multi storey building

# **Use of backslash character**

In [63]:
tabby_cat = "\tI'm tabbed in"
persian_cat = "I'm split \non a new line"
backslash_cat = "I'm \\ a \\ cat "
some_cat = "I am 6'2\" tall"
that_cat = 'I am 6\'2" tall'

print (tabby_cat)
print (persian_cat)
print (backslash_cat)
print (some_cat)
print (that_cat)

	I'm tabbed in
I'm split
on a new line
I'm \ a \ cat
I am 6'2" tall
I am 6'2" tall

# **Prompting People**

In [64]:
print ("How old are you?",)
age = input()
print ("How tall are you?",)
height = input()
print ("How much do you weigh?",)
weight = input()

print ("So, you are {age} years old, {height} cm tall, {weight} kg heavy".format(age=age,height=height,weight=weight))

How old are you?
23
How tall are you?
180
How much do you weigh?
60
So, you are 23 years old, 180 cm tall, 60 kg heavy

In [65]:
x = int(input())
print (x)

12
12

In [66]:
age = input("How old are you? ")
height = input("How tall are you? ")
weight = input("How much do you weigh? ")

print ("So, you are {age} years old, {height} cm tall, {weight} kg heavy".format(age=age,height=height,weight=weight))

How old are you? 23
How tall are you? 180
How much do you weigh? 60
So, you are 23 years old, 180 cm tall, 60 kg heavy

# **Prompting and Passing**

In [67]:
script, username = "zoro","Jackal"
prompt = '> '

print ("Hi %s I'm %s script" %(username,script))
print ("I would like to ask you few questions.")
print ("Do you like me %s?" %username)
likes = input(prompt)
print ("Where do you live?")
lives = input(prompt)
print ("What kind of computer do you have")
computer = input(prompt)

print ("""
Alright, so you said %r about liking me,
You live in %r. Not sure where that is.
And you have a %r computer. Nice.
""" %(likes,lives,computer))

Hi Jackal I'm zoro script
I would like to ask you few questions.
Do you like me Jackal?
> No
Where do you live?
> 13B..you guess it
What kind of computer do you have
> very old.. kinda

Alright, so you said 'No' about liking me,
You live in '13B..you guess it'. Not sure where that is.
And you have a 'very old.. kinda' computer. Nice.

# **Functions**

In [68]:
# You can create a function by using the word def in Python.

def print_two(arg1,arg2):
  print ("arg1: %r, arg2: %r" %(arg1,arg2))

def print_one(arg1):
  print ("arg1: %r" %arg1)

def print_none():
  print ("This is function with no arguments")

In [69]:
print_two(1,"Hello")
print_one('Hola')
print_none()

arg1: 1, arg2: 'Hello'
arg1: 'Hola'
This is function with no arguments

In [70]:
# Calculator

def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [71]:
age = add(30,5)
height = subtract(78,4)
weight = multiply(90,2)
iq = divide(100,2)

print ("Age: %d, Height: %d, Weight: %d, IQ: %.2f" %(age,height,weight,iq))

Age: 35, Height: 74, Weight: 180, IQ: 50.00

In [72]:
print (add(age, subtract(height, multiply(weight, divide(iq,2)))))

-4391.0

# **What if**

In [73]:
people  = 20
cats = 30
dogs = 15

if people < cats:
  print ("Too many cats! The world is doomed!")

if people > cats:
  print ("Not many cats! The world is saved!")

if people < dogs:
  print ("The world is drooled on!")

if people > dogs:
  print ("The world is dry!")

dogs += 5
if people >= dogs:
  print ("People are greater than equal to dogs")

if people <= dogs:
  print ("People are less than equal to dogs")

if people == dogs:
  print ("People are dogs")

Too many cats! The world is doomed!
The world is dry!
People are greater than equal to dogs
People are less than equal to dogs
People are dogs

# **Else and If**

In [74]:
people = 30
cars = 40
buses = 15

if cars > people:
  print ("We should take the cars.")
elif cars < people:
  print ("We should not take the cars.")
else:
  print ("We can't decide.")

We should take the cars.

# **Making Decsions**

In [75]:
print ("You enter a dark room with two doors. Do you go through door #1 or #2?")
door = input("> ")

if door == "1":
  print ("There is a giant bear here eating a cheese cake. What do you do?")
  print ("1. Take the cake.")
  print ("2. Scream at the bear.")
  bear = input("> ")
  if bear == "1":
    print ("The bear eats your face off. Good job!")
  elif bear == "2":
    print ("The bear eats your legs off. Good job!")
  else:
    print ("Well, doing %s is probably better. Bear runs away." %bear)

elif door == "2":
  print ("You enter the fairy land.")
else:
  print ("You stumble around and fall on something edgy and died. Good job")

You enter a dark room with two doors. Do you go through door #1 or #2?
> 1
> 2
There is a giant bear here eating a cheese cake. What do you do?
1. Take the cake.
2. Scream at the bear.
The bear eats your legs off. Good job!

# **Loops and Lists**

In [76]:
the_count = [1,2,3,4,5]
fruits = ["apples","oranges","berries","pears","apricots"]
change = [1,'pennies',2,"dimes",3,'quarters']

for number in the_count:
  print ("%d" %number)

for fruit in fruits:
  print ("%s" %fruit)

for i in change:
  print ("%r" %i)   # use %r, since we don't know whats in it

# build lists,
elements = []
for i in range(0,6):
  print ("Adding %d to list" %i)
  elements.append(i)

for i in elements:
  print ("Element %d" %i)

1
2
3
4
5
apples
oranges
berries
pears
apricots
1
'pennies'
2
'dimes'
3
'quarters'
Adding 0 to list
Adding 1 to list
Adding 2 to list
Adding 3 to list
Adding 4 to list
Adding 5 to list
Element 0
Element 1
Element 2
Element 3
Element 4
Element 5

# **While Loops**

In [77]:
i = 0
nums = []
while i < 6:
  nums.append(i)
  i = i+1

for i in nums:
  print (i,end=" ") # prints on a single line

print ()
print ("Hello", end = " ")
print ("World")

0 1 2 3 4 5
Hello World

# **Accessing Elements of List**

In [78]:
animals = ['bear','bear','panda','zebra']
animal = animals[2]
print (animal)

panda

In [79]:
animals[2] = 'Hyena'
animal = animals[2]
print(animal)

Hyena

In [80]:
ten_things = "Apples Oranges Crows Telephone Light Sugar"
stuff = ten_things.split(' ')
more_stuff = ['Day','Night','Song','Frisbee','Corn','Banana','Girl','Boy']

while len(stuff) != 10:
  next_one = more_stuff.pop()
  print ("Adding: ", next_one)
  stuff.append(next_one)
  print ("Ther's %d items now" % len(stuff))

for s in stuff:
  print (s, end = " ")

Adding:  Boy
Ther's 7 items now
Adding:  Girl
Ther's 8 items now
Adding:  Banana
Ther's 9 items now
Adding:  Corn
Ther's 10 items now
Apples Oranges Crows Telephone Light Sugar Boy Girl Banana Corn

# **Dictionaries**

In [81]:
stuff = {'name':'Palash', 'age': 23, 'height': 180, 'emailId':'noneofyourbusiness@fk.com'}

stuff['emailId']

'noneofyourbusiness@fk.com'

In [82]:
stuff['Edu'] = 'Undergrad'

In [83]:
for i in stuff:
  print (i , ":" , stuff[i])

name : Palash
age : 23
height : 180
emailId : noneofyourbusiness@fk.com
Edu : Undergrad

In [84]:
for k,v in stuff.items():
  print (k , ":", v)

name : Palash
age : 23
height : 180
emailId : noneofyourbusiness@fk.com
Edu : Undergrad

In [85]:
del stuff['emailId']
print (stuff)

{'name': 'Palash', 'age': 23, 'height': 180, 'Edu': 'Undergrad'}

In [86]:
name = stuff.get('Salary',"Salary not present")
print (name)

Salary not present

# **Modules,Classes, and Objects**

In [87]:
class MyStuff(object):
  def __init__(self):
    self.coldplay = "Fixing up a car to drive in it again."
  
  def upAndUp(self):
    print (self.coldplay)

sing = MyStuff()
sing.upAndUp()

Fixing up a car to drive in it again.

In [88]:
# Class Example

class Song(object):
  def __init__(self,lyrics):
    self.lyrics = lyrics
  
  def sing(self):
    for line in self.lyrics:
      print (line)

In [89]:
coldplay = Song(["Fixing up a car to drive in it again","Searching for the water,hoping for the rain","Up and up","Up and up"])
coldplay.sing()

Fixing up a car to drive in it again
Searching for the water,hoping for the rain
Up and up
Up and up

In [90]:
fix_you = Song(["When you try your best but you don't succeed","When you get what you want but not what you need","When you feel so tired but you can't sleep","Stuck in reverse"])
fix_you.sing()

When you try your best but you don't succeed
When you get what you want but not what you need
When you feel so tired but you can't sleep
Stuck in reverse

In [91]:
class Animal(object):
  pass

class Dog(Animal):
  def __init__(self,name):
    self.name = name
  
class Cat(Animal):
  def __init__(self,name):
    self.name = name

class Person(object):
  def __init__(self,name):
    self.name = name
    self.pet = None

class Employee(Person):
  def __init__(self,name,salary):
    super(Employee,self).__init__(name)
    self.salary = salary

class Fish(object):
  pass

class Salmon(Fish):
  pass

class Halibut(Fish):
  pass

rover = Dog("rover")
satan = Cat("satan")
mary = Person("Mary")
mary.pet = satan
frank = Employee("Frank",120000)
frank.pet = rover
flipper = Fish()
crouse = Salmon()
harry = Halibut()

# **Data Hiding**

In [92]:
# use double underscore Or(__) before the variable names to hide it i.e to make it private, so that those attributre will not be visbile outside
class MyClass:
  __moveBy = 0

  def set(self,increment):
    self.__moveBy += increment
  def get(self):
    return self.__moveBy

mobj = MyClass()
mobj.set(15)
left = mobj.get()
print (left)
# print (mobj.__moveBy) # this will give error as __moveBy is a private variable

15

# **Inheritance**

In [93]:
# Implicit Inheritance
class Parent:
  def implicit(self):
    print ("Parent's implicit")

class Child(Parent):
  pass

d = Parent()
s = Child()
d.implicit()
s.implicit()

Parent's implicit
Parent's implicit

In [94]:
# Override Explicitly
class Parent:
  def override(self):
    print ("Inside Parent")

class Child:
  def override(self):
    print ("Inside Child")
  
d = Parent()
s = Child()
d.override()
s.override()

Inside Parent
Inside Child

In [95]:
# Alter before or after
class Parent:
  def altered(self):
    print ("Parent Altered")
  
class Child(Parent):
  def altered(self):
    print ("Child Altered")
    super(Child,self).altered()
    print ("Child Altered")

d = Parent()
s = Child()
print ("-"*10)
d.altered()
print ("-"*10)
s.altered()
print ("-"*10)

----------
Parent Altered
----------
Child Altered
Parent Altered
Child Altered
----------

In [96]:
# Multiple Inheritance
class Base1:
  def __init__(self):
    self.str1 = "Geek1"
    print ("Base1")

class Base2:
  def __init__(self):
    self.str2 = "Geek2"
    print ("Base2")

class Derived(Base1,Base2):
  def __init__(self):
    Base1.__init__(self)
    Base2.__init__(self)
    print ("Derived")
  
  def printStrs(self):
    print (self.str1)
    print (self.str2)

ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1
Geek2

In [97]:
class X:
  def __init__(self,a):
    self.num = a
  def doubleUp(self):
    self.num *= 2
  
class Y(X):
  def __init__(self,a):
    X.__init__(self,a)
  def tripleUp(self):
    self.num *= 3
  
ob = Y(4)
print (ob.num)

ob.doubleUp()
print (ob.num)

ob.tripleUp()
print (ob.num)

4
8
24

In [98]:
class Person:
  def __init__(self,name):
    self.name = name

  def getName(self):
    return self.name

  def isEmployee(self):
    return False

class Employee(Person):
  def __init__(self,name,eid):
    super().__init__(name)  # in python 3.0+ can be used like this
    self.empId = eid
  
  def isEmployee(self):
    return True
  
  def getId(self):
    return self.empId

emp = Employee("Palash","CS101")
print (emp.getName(), emp.getId(), emp.isEmployee())

Palash CS101 True