<a href="https://colab.research.google.com/github/palash04/Artificial-Intelligence/blob/master/LearnPython/Python_bascis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello World")
print ("Hello Again")
print ("Yay, this is fun")

Hello World
Hello Again
Yay, this is fun

**Comments and Pound Characters**

In [ ]:
# A comment, this is so you can read your program later
print ("This is comment block")
print ("This will run") # comment after is ignored

This is comment block
This will run

**Numbers and Math**

In [ ]:
print ("Counting number of stars")
print ("Stars", 2500/10 + 45)

Counting number of stars
Stars 295.0

In [ ]:
print ("Add 2+3 = ", 2+3)

Add 2+3 =  5

In [ ]:
print ("Is 2 greater than 5:", 2>5)
print ("Is 2 less than or equal to 5", 2<=5)

Is 2 greater than 5: False
Is 2 less than or equal to 5 True

In [ ]:
print (2/2.5)

0.8

In [ ]:
print ("Remainder of 15 divided by 4", 15%4)

Remainder of 15 divided by 4 3

In [ ]:
print (7/4)
print (7.0/4.0)

1.75
1.75

**Variables and Names**

In [ ]:
cars = 100
space_in_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_car

In [ ]:
print ("There are", cars, "cars available.")
print ("There are only", drivers , "drivers available.")
print ("There will be", cars_not_driven, "empty cars today.")
print ("We have", passengers, "to carpool capacity.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We have 90 to carpool capacity.

In [ ]:
name = "Sean"
age = 23
height = 180
weight = 60.575
eyes = "blue"
hair = "black"

In [ ]:
print ("My name %s" %name)
print ("Age %d" %age)
print ("Height %d cm" %height)
print ("Weight %.2f kg" %weight)

My name Sean
Age 23
Height 180 cm
Weight 60.58 kg

In [ ]:
print ("Name %s, Age %d, Height %d cm, Weight %.2f kg" % (name,age,height,weight))
print ("Name {0}, Age {1}".format(name,age))
print ("Name {name}, Age {age}".format(name=name,age=age))

Name Sean, Age 23, Height 180 cm, Weight 60.58 kg
Name Sean, Age 23
Name Sean, Age 23

In [ ]:
print ("Name %r %r" %(name,age)) # %r is used for debugging purpose

Name 'Sean' 23

In [ ]:
end1 = "C"
end2 = "h"
end3 = "e"
end4 = "e"
end5 = "s"
end6 = "e"
end7 = "B"
end8 = "u"
end9 = "r"
end10 = "g"
end11 = "e"
end12 = "r"

In [ ]:
print (end1 + end2 + end3 + end4 + end5 + end6,end7 + end8 + end9 + end10 + end11 + end12)

Cheese Burger

In [ ]:
days = "Mon Tues Wed Thurs Fri Sat"
months = "Jan\nFeb\nMarch\nApril\nMay.."
print (days)
print (months)

Mon Tues Wed Thurs Fri Sat
Jan
Feb
March
April
May..

In [ ]:
print ("""
Hello, This is my blog post.
Here I will write the story of my life.
To begin with my first story, 
I live on 21st floor of a multi storey building
""")

Hello, This is my blog post.
Here I will write the story of my life.
To begin with my first story,
I live on 21st floor of a multi storey building

**Use of backslash character**

In [ ]:
tabby_cat = "\tI'm tabbed in"
persian_cat = "I'm split \non a new line"
backslash_cat = "I'm \\ a \\ cat "
some_cat = "I am 6'2\" tall"
that_cat = 'I am 6\'2" tall'

print (tabby_cat)
print (persian_cat)
print (backslash_cat)
print (some_cat)
print (that_cat)

	I'm tabbed in
I'm split
on a new line
I'm \ a \ cat
I am 6'2" tall
I am 6'2" tall

**Prompting People**

In [1]:
print ("How old are you?",)
age = input()
print ("How tall are you?",)
height = input()
print ("How much do you weigh?",)
weight = input()

print ("So, you are {age} years old, {height} cm tall, {weight} kg heavy".format(age=age,height=height,weight=weight))

How old are you?
23
How tall are you?
180
How much do you weigh?
60
So, you are 23 years old, 180 cm tall, 60 kg heavy

In [2]:
x = int(input())
print (x)

14
14

In [3]:
age = input("How old are you? ")
height = input("How tall are you? ")
weight = input("How much do you weigh? ")

print ("So, you are {age} years old, {height} cm tall, {weight} kg heavy".format(age=age,height=height,weight=weight))

How old are you? 23
How tall are you? 180
How much do you weigh? 60
So, you are 23 years old, 180 cm tall, 60 kg heavy

**Prompting and Passing**

In [8]:
script, username = "zoro","Jackal"
prompt = '> '

print ("Hi %s I'm %s script" %(username,script))
print ("I would like to ask you few questions.")
print ("Do you like me %s?" %username)
likes = input(prompt)
print ("Where do you live?")
lives = input(prompt)
print ("What kind of computer do you have")
computer = input(prompt)

print ("""
Alright, so you said %r about liking me,
You live in %r. Not sure where that is.
And you have a %r computer. Nice.
""" %(likes,lives,computer))

Hi Jackal I'm zoro script
I would like to ask you few questions.
Do you like me Jackal?
> No
Where do you live?
> Right beside you
What kind of computer do you have
> Just like you xD

Alright, so you said 'No' about liking me,
You live in 'Right beside you'. Not sure where that is.
And you have a 'Just like you xD' computer. Nice.